img{
    border-radius: 50%;
    height: 300px;
}
body{
    background-color: rgb(238, 232, 232);
}
h1{
color: aqua;
}
h3{
color: aqua;
}
 hr{
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 5%;
 }